* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: Hel;
    src: url(./Font/HelveticaNeue.ttc);
}

body {
    background-color: #ebe6e6;
}

a {
    color: black;
}
.pagenames{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagenames h2 {
    margin: 0 120px 0 0;
    font-family: Hel;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.backarrow {
    margin: 50px;
    cursor: pointer;
    float: left;
}

form {
    width: 620px;
    height: 900px;
}

section {
    width: 1226px;
    height: 900px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 16%;
    padding-top: 40px;
}

/* inside section */
input {
    border: 2px solid #62A1EB;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
}

.namelastnm {
    display: flex;
}

.namelastnm input {
    width: 300px;
    height: 40px;
    margin-top: 10px;
}

label {
    font-family: Hel;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.name,
.lastname {
    margin-top: 80px;
}

h4 {
    font-size: 10px;
    font-family: Hel;
    color: #333;
    margin-top: 3px;
}

select {
    margin-top: 30px;
    width: 620px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #EBEBEB;
    margin-top: 55px;
    
}



.mail {
    margin-top: 32px;
}
.mail input,
.phone input {
    width: 620px;
    height: 40px;
    margin-top: 20px;
}

.mail label,
.phone label {
    font-family: Hel;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.mailtext {
    margin-bottom: 30px;
}

#button {
    padding: 15px;
    padding-left: 45px;
    float: right;
    margin-top: 100px;
    width: 176px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #62A1EB;
    font-family: Hel;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.ponterevents {
    pointer-events: none;
}

.logo {
    text-align: center;
    margin-top: 10px;
}

.logo img {
    width: 85px;
    height: 85px;
}

input[type=number]::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }